* {
	font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
	color: #CCCCCC;
}
body {
	background-attachment: fixed;
	background-color: #000;
	background-image: url(images/background.png);
	background-repeat: repeat;
	margin: 0;
}
.login {
	background-color: #111;
	background-image: none;
	margin: 0;
}
body a:link, body a:visited {
	color: #FFA600;
	text-decoration: none;
	font-weight: bold;
}
body a:hover {
	color:#F9D600;
	text-decoration: none;
	font-weight: bold;
}
.maintable {
	background-color: #111;
}
.left {
	background-image: url(images/left.png);
	background-repeat: repeat-y;
}
.right {
	background-image: url(images/right.png);
	background-repeat: repeat-y;
}
input {
	color: #000;
}
.listRootAdmin {
	background-image: url(images/root.png);
	background-repeat: repeat-x;
}
.odd {
	background-color:#1A1A1A;
}
.even {
	background-color: #222;
}
.footer {
	text-align: center;
}
.installAccount {
	background-color:#FF8888;
	border: thick #FF0000 ridge;
	border-color: #FF0000;
	color: #000;
	font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 600px;
}
.installAccountTitle {
	color: #000;
	font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 20px;
}
